@import url('https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300..700&family=Zain:wght@200;300;400;700;800;900&display=swap');

.developer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: var(--bg-color);
  color: #fbfbfb;
  text-align: center;
  gap: 30px;
}

.developer-container span{
  font-size: 30px;
}

.photo-section {
  flex: 1;
  text-align: center;
  text-align: center;
}

.photo-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
}

.about-section {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  padding: 60px 100px;
  max-width: 600px;
  border-radius: 10px;
  background-color: #1b1a3e56;
}

.about-developer h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #007bff;
  text-align: start;
  align-items: start;
  justify-content: start;
}

.about-developer{
  flex-direction: row;
  text-align: center;
  align-items: start;
  padding: 30px 20px;
  border-radius: 10px;
}

.about-developer p {
  font-size: 20px;
  line-height: 1.1;
  font-family: "Zain", sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: start;
  align-items: start;
}

@media(max-width: 1005px){
  .developer-container{
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    padding-top: 25px;
    padding-bottom: 30px;
  }
  .photo-section img{
    width: 100px;
    height: 100px;
  }

  .about-section{
    flex-direction: column;
    padding: 30px;
  }

  .about-section h2{
    font-size: 20px;
  }
  .about-section p{
    font-size: 16px;
        justify-content: start;
    text-align: start;
    align-items: start;
  }
}