/* DeveloperComponent.css */

.developer-section {
  padding: 20px;
  background-color: var(--bg-color);
}

.developer-section h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.developers-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 3fr));
  justify-content: space-around;
  align-self: center;
  text-align: center;
}

.developer-card {
  width: 300px;
  margin: 40px;
  padding: 20px;
  border-radius: 8px;
  transition: transform 0.3s ease;
  background-color: #02153c;
  align-items: center;
    text-align: center;
}

.developer-card:hover {
  transform: translateY(-5px);
}

.card {
 width: 190px;
 height: 254px;
 background: #3405a3;
 border-radius: 15px;
 box-shadow: 1px 5px 60px 0px #100a886b;
}

.card .card-border-top {
 width: 60%;
 height: 3%;
 background: #6b64f3;
 margin: auto;
 border-radius: 0px 0px 15px 15px;
}

.card span {
 font-weight: 600;
 color: white;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 16px;
}

.card .job {
 font-weight: 400;
 color: white;
 display: block;
 text-align: center;
 padding-top: 3px;
 font-size: 12px;
}

.card .img {
 width: 70px;
 height: 80px;
 background: #6b64f3;
 border-radius: 15px;
 margin: auto;
 margin-top: 25px;
}

.card button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 8px;
 border: none;
 margin-top: 30px;
 background: #6b64f3;
 color: white;
 font-weight: 600;
}

.card button:hover {
 background: #534bf3;
}