.container-1{
    /* background: url('./bg.jpg') no-repeat center center/cover; */
    background-color: black;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.queries{
    position: relative;
    /* top: 200px; */
    box-shadow: 0px 0px 116px 160px rgba(31, 41, 115, 0.728);
    background-color: rgba(31, 41, 115, 0.728);
}

@media(max-width: 1005px){
.queries{
    top: 0px;
}
}