/* Set background image for the entire page */
.selfLearn-Page {
    background: url('./stacked-waves-haikei.png') no-repeat center center fixed;
    background-size: cover; /* Ensure the image covers the entire page */
    height: 100vh;
    width: 100%;
}

/* Ticker block styling */
.services-ticker-block {
    overflow-x: hidden;
}

/* Ticker line styling */
.stb_line_single {
    position: relative;
    display: flex;
    flex-direction: row;
    will-change: transform;
    padding: 100px;
    gap: 20px;
}

/* Ticker item styling */
.stb-item {
    padding: 10px 20px; /* Add padding to make the text more readable */
    font-size: 2.4rem;
    display: inline-block;
    margin-right: 10rem;
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    color: #fff; /* Text color */
    border-radius: 10px; /* Rounded corners */
    transition: background-color 0.3s, color 0.3s; /* Smooth transition */
}

/* Ticker item hover effect */
.stb-item:hover {
    color: #C02534;
    background-color: rgba(255, 255, 255, 0.6); /* Change background color on hover */
}
