@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.vision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: var(--bg-color);
  color: white;
  padding-top: 60px;
}

.centered {
  text-align: center;
  padding: 50px;
  background-color: rgba(240, 248, 255, 0); /* Transparent background */
  color: white; /* Assuming you want white text */
  text-shadow: 0px 34px 406px rgb(2, 13, 116);
}


.brand-names {
  color: rgb(34, 82, 213); /* Blue color */
  font-size: 80px;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
}

.vision-heading {
  font-size: 2rem;
  font-weight: bolder;
  opacity: 0.9;
  padding: 0;
  margin: 0;
}

.vision-icon {
  width: 50px;
  height: 50px;
}

.vision-subheading {
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  opacity: 0.8;
  word-spacing: 3px;
}

.vision-learning {
  color: rgb(34, 82, 213);
  position: relative;
  right: 9px;
}

.vision-btn {
  margin: 15px;
  padding: 10px 20px;
  background-color: rgb(34, 82, 213);
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 1.3rem;
  font-family: "Caveat", cursive;
  font-weight: 800;
}

.icon-container {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

@media (max-width: 1005px) {
  .vision-container {
    justify-content: start;
    align-items: start;
    padding: 100px 0 50px 0;
    margin: 0;
  }

  .centered {
    padding: 2rem;
    text-align: start;
    overflow-x: hidden;
    font-size: 1.5rem;
  }

  .vision-heading {
    font-size: 2.3rem;
  }

  .vision-subheading {
    font-size: 1rem;
  }

  .vision-btn {
    margin: 1rem 0 0 0;
    padding: 1rem 2rem;
    font-size: 1rem;
  }
}
