@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

.vision-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  background-color: rgb(7, 17, 45);
  color: white;
}

.centered {
  text-align: center;
  position: relative;
  bottom: 0px;
  top: 100px;
  padding: 50px;
  margin: 60px 50px 150px 50px;
}

.brand-names{
    color: white;
    font-size: 80px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    position: relative;
    bottom: 10px;
    color: white;
}

.vision-heading{
    font-size: 2.0rem;
    font-weight: bolder;
    opacity: .9;
    padding: 0;
    margin: 0;
}

.vision-icon {
  width: 50px; /* Adjust the width as needed */
  height: 50px; /* Adjust the height as needed */
}

.vision-image {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}


.vision-subheading{
  font-size: 1.3rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  opacity: 0.8;
  word-spacing: 3px;
  letter-spacing: 0px;
}

.vision-learning{
    color: rgb(34, 82, 213);
}

.vision-btn{
    margin: 2rem;
    padding: 2rem 3rem;
    background-color: rgb(34, 82, 213);
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 1.5rem;;
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.icon-container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  align-items: start;
}

@media(max-width: 1005px){
  .vision-container {
  display: flex;
  justify-content: start;
  align-items: start;
  padding: 0px;
  padding-top: 100px;
  padding-bottom: 50px;
  height: auto;
  margin: 0px;
}
  .centered {
    padding: 2rem;
    text-align: start;
    overflow-x: hidden;
    /* padding: 0px; */
    /* background-color: tomato; */
  }

  .vision-heading{
    font-size: 2.3rem;
  }
  .vision-subheading{
    font-size: 1.0rem;
  }
  .vision-learning{
    position: relative;
    right: 5px;
  }
  .vision-btn{
    margin: 0;
    margin-top: 1rem;
    padding: 1rem 2rem;
    font-size: 1rem;
    position: relative;
    text-align: start;
  }
}