@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #1e2a7d57;
  border-radius: 30px;
  gap: 50px;
}

.brand-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 20px;
}

.brand-name {
  font-family: 'Poetsen One', sans-serif;
  font-size: 50px;
  margin-bottom: 20px;
}

.search-suggestion {
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  margin-top: -20px;
}

.message-boxi {
  display: flex;
  align-items: center;
  background-color: #2d2d2d;
  padding: 0 15px;
  border-radius: 14px;
  border: 1px solid rgb(63, 63, 63);
  gap: 10px;
}

.message-boxi:focus-within {
  border: 2px solid var(--main-color);
}

#messageInput {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 14px;
  outline: none;
  background-color: transparent;
  color: white;
}

#sendButton {
  background-color: #1c68cc;
  color: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 14px;
}

@media (max-width: 1005px) {
  .brand-name {
    font-size: 4rem;
  }
  .message-boxi {
    width: 100%;
    flex-direction: column;
    gap: 5px;
  }
  #messageInput {
    width: calc(100% - 40px);
  }
}
