.web-response-container {
    padding: 20px;
    padding-top: 100px;
    background-color: black;
    max-width: 400px;
}

.response-items {
    margin-bottom: 20px;
}



.web-result {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.web-result img{
    width: auto;
    height: 20px;
}

.result-title {
    color: #3970f1;
    font-size: 1rem;
    margin-bottom: 5px;
    text-decoration: none;
}

.result-snippet {
    color: #ffffff;
    margin-bottom: 10px;
}

.result-url {
    color: #ffffff;
    font-size: 0.9rem;
    text-decoration: none;
}
