.web-response-container{
    position: relative;
    top: 100px;
    padding: 50px;
}

.response-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.result{
    background-color: rgba(133, 164, 250, 0.8);
    padding: 20px;
}